<div class="wrapper">
    <div class="main">
        <div class="card">
            <div class="cardTop">
                <div class="title">
                    Venkat Palakodety
                </div>
                <div class="subTitle">
                    Principal Software Engineer - AT&T
                </div>
                <div class="social-icons">
                    <ul>
                        <li>
                            <a href="https://twitter.com/VenkatPals" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/venkatp" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/venkatpalakodety" target="_blank"><i class="fa fa-instagram"></i></a>
                        </li>
                        <li>
                            <a href="https://github.com/venkatpalakodety/" target="_blank"><i class="fa fa-github"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/venkatpal/" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="mailto:vpdevbox@gmail.com?subject=Hello Venkat!"><i class="fa fa-envelope"></i></a>
                        </li>
                        <li>
                            <a href="tel:312-543-1538"><i class="fa fa-phone"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cardBottom">
                <span class="frame">
                    <img id="profileImage" src="../../../../../assets/venkat.jpg">
                </span>
            </div>
        </div>
    </div>
</div>
